body {
    font-family: Arial, sans-serif;
    
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 2%;
}

button:hover {
    background: #041f99;
}

#product-list {
    margin-top: 20px;
    text-align: left;
    margin-left: 2%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#share-whatsapp {
    background-color: #349c04;
    
}
